COMPOSE_PROJECT_NAME=retail-lakehouse
AIRFLOW_UID=50000
POSTGRES_USER=lakehouse
POSTGRES_PASSWORD=lakehouse_local_only
POSTGRES_DB=lakehouse
LAKEHOUSE_POSTGRES_URL=postgresql://lakehouse:lakehouse_local_only@postgres:5432/lakehouse
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin_local_only
SOURCE_URL=https://data.montgomerycountymd.gov/api/v3/views/v76h-r7br/export.csv?accessType=DOWNLOAD
